li {
  line-height: 30px;
  list-style: none;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
}

.capitalize {
  text-transform: capitalize;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.current-time {
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
}
.weather {
  text-transform: capitalize;
  font-weight: bold;
  padding: 2px;
  font-family: Arial, Helvetica, sans-serif;
}

.humidity {
  font-style: italic;
  font-weight: normal;
  color: #138edb;
  font-family: Arial, Helvetica, sans-serif;
}

.wind {
  font-style: italic;
}

.city {
  color: black;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.weather-app {
  padding: 5px;
  margin: 10px;
}

.data {
  border: 1px solid black;
  box-shadow: 2px 2px 2px rgb(123, 122, 122);
  padding: 15px 15px 15px 15px;
  margin: 20px;
  max-width: 800px;
  border-radius: 5px;
  background-image: linear-gradient(to top, #b495e9 0%, #b9eefa 100%);
}

.units {
  color: black;
  position: relative;
  top: -15px;
  font-size: 18px;
  text-decoration: none;
}

.weather-icon {
  font-size: 50px;
}

.today-temperature {
  color: #138edb;
  font-size: 40px;
}

.weatherForecast {
  padding: 20px;
  text-align: center;
  color: #0b283b;
}

.weatherDay {
  font-size: 16px;
  color: #0b283b;
  font-family: Arial, Helvetica, sans-serif;
}
.max-temp {
  font-weight: bold;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
footer {
  font-weight: bold;
  margin-left: 330px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
}


